@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
body {
    --blueMain: #0376CE;
    --blueSecond: #5FB9FC;
    --backgroundColor: #1A1A1A;
    --foregroundColor: #FFF;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

body {
  background: var(--backgroundColor);
}

nav a {
  display: inline-block;
  padding: 1rem;
}

.prism-code {
  box-shadow: 5px 5px 10px rgba(0,0,0,.4);
  width: 75%;
  max-width: 40rem;
  margin: 1rem auto;
}

#main-logo {
  background: white;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  h1 {
    display: block;
    margin: 0;
    #mostly {
      margin: 0;
      font-size: 3rem;
      font-style: italic;
      font-family: Roboto,sans-serif;
      color: var(--blueMain);
      letter-spacing: -0.15rem;
    }
    #focused {
      color: var(--backgroundColor);
      font-size: 4rem;
      padding-left: .1rem;
      padding-right: 1rem;
      font-style: normal;
      font-family: Oswald, sans-serif;
      font-weight: 100;
      letter-spacing: -0.2rem;
    }
  }
}

#featured-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  width: 20rem;
  margin: 0.2rem;
  .article-card-img {
    width: 95%;
    margin: 0 auto 0.25rem;
  }
  h2 {
    text-align: center;
    font-size: 1rem;
  }
}

#article-content {
  width: 50%;
  min-width: 45rem;
  margin: 0 auto;
  background: var(--foregroundColor);
  padding: 0.25rem;
  #article-title, #article-subtitle {
    padding-right: 1.5rem;
    color: #000;
    text-align: right;
  }
  #article-title {
    letter-spacing: -0.1rem;
    font-size: 3.5rem;
    font-weight: 700;

  }
  #blue-line-angle {
    transform: skewX(-45deg);
    border-bottom: 0.1rem solid var(--blueMain);
    border-right: 0.1rem solid var(--blueMain);
    height: 0.6rem;
    width: 97%;
    margin: 0 auto;
    position: relative;
    top: -1.8rem;
  }
  #article-subtitle {
    font-weight: 100;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
    position: relative;
    top: -1.8rem;
  }
  #featured-img {
    position: relative;
    top: -1rem;
    display: block;
  }

  #article-body {
    h1, h2 {
      margin-top: 1rem;
      font-family: 'Roboto', sans-serif;
    }
    h1 {
      font-family: 'Oswald', sans-serif;
      border-bottom: 2px solid var(--blueMain);
      display: inline-block;
    }
    h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      color: #000;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      text-shadow: 0px 0px 0px #000;
    }
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
      color: #555;
      font-style: italic;
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 2rem;
      line-height: 0.1rem;
      margin-right: 0.25rem;
      vertical-align: -0.3rem;
    }
    blockquote p {
      display: inline;
    }
    #recommendations {
      background: #000;
      margin: 0;
      padding: 0.5rem 0 1rem;
      position: absolute;
      left:0;
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* unvisited link */
      .article-card {
        padding: 0.25rem;
        &:hover {
          background: #111;
        }
        text-align: center;
        a {
          text-decoration: none;
          font-family: 'Oswald', sans-serif;
          font-size: 1.25rem;
          text-align: center;
        }
        a:link, a:visited {
          color: white;
        }
        /* mouse over link */
        a:hover {
          color: var(--blueSecond);
        }
        /* selected link */
        a:active {
          color: blue;
        }
      }
    }
  }
}